<style>
	
	.undangan-view{
		height: 400px;
	}

	.pointer{
		cursor: pointer;
		width: 100%;
	}

</style>

<div class="row">
	<div class="col s12">
		<div class="card">
			<div class="card-content center">
				<span class="card-title">Undangan</span>
				<p>
					selamat datang di undangan, buat undangan pernikahan anda lebih menarik dan mengesankan bersama kami
				</p>			
			</div>
		</div>
	</div>
	<div class="col s6">
		<div id="buat-undangan" class="card pointer waves-effect blue lighten-1 white-text">
			<div class="card-content center">
				<span class="card-title">Buat Undangan</span>
			</div>
		</div>
	</div>
	<div class="col s6">
		<div id="beli-template" class="card pointer waves-effect orange lighten-1 white-text">
			<div class="card-content center">
				<span class="card-title">Beli Template</span>
			</div>
		</div>
	</div>
	<div class="col s12">
		<div class="card">
			<div class="card-content center">
				<span class="card-title">Undangan Saat Ini</span>
			</div>
		</div>
	</div>
	<div class="col s4">
		<div class="card undangan-view">
			<div class="card-content">
				hallo
			</div>
		</div>
	</div>
	<div class="col s4">
		<div class="card undangan-view">
			<div class="card-content">
				hallo
			</div>
		</div>
	</div>
	<div class="col s4">
		<div class="card undangan-view">
			<div class="card-content">
				hallo
			</div>
		</div>
	</div>
</div>